* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    overflow: hidden;
    background: black;
    color: white;
    font-family: 'Eater', cursive;
    position: relative;
    }



.first-card, 
.second-card,
.third-card {
    width: 100%;
    height: 100vh;
    transition: all 1s;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    
}
/* klasa do przesuwania całej strony*/

.first-card {
    transform: translateX(0);
    //z-index: 99;
}

.slide {
    transform: translateX(100%); 
}
/* strona pierwsza*/


#first {
    font-family: 'Eater', cursive;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
}

.first-card__title {
    font-size: 120px;
    padding: 20px;
    transform: translateY(25%)
}

.first-card__button {
    border: 2px solid white;
    width: 30%;
    height: 50px;
    background: black;
    color: white;
    //margin-left: 100px;
    font-size: 30px;
    font-family: 'Eater', cursive;
    margin-top: 40px;
}

.first-card__button:hover {
    color: black;
    background:white;
}

.container {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
    height: 100%;
}

/************hangman*************/

.hangman {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 500px;
    background: black;
    width: 380px;
}

.base, .pole, .across, .rope, .body, .right-arm, .left-arm, .left-leg, .right-leg {
    background: white;
    position: absolute;
}


.base {
    height: 5px;
    width: 190px;
    bottom: 20px;
    right: 30px;
   
}

.pole {
    height: 400px;
    width: 5px;
    bottom: 20px;
    right: 60px;
}

.across {
    height: 5px;
    width: 240px;
    right: 40px;
    top: 120px;
}

.rope {
    width: 5px;
    height: 26px;
    top: 120px;
    left: 139px;
}

.head {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    top: 140px;
    left: 120px;

}

.body {
    width: 5px;
    height: 110px;
    left: 150px;
    top: 186px;
    transform: skewX(6deg);
}

.right-arm, .left-arm {
    width: 5px;
    height: 70px;
    transition: all .5s;
}

.right-arm {
    left: 133px;
    top: 200px;
    transform: skewX(-20deg);
    
}

.left-arm {
    left: 167px;
    top: 200px;
    transform: skewX(30deg);
}

.right-leg, .left-leg {
    width: 5px;
    height: 90px;
}

.right-leg {
    left: 133px;
    top: 290px;
    transform: skewX(-27deg);
}

.left-leg {
    left: 180px;
    top: 290px;
    transform: skewX(28deg);
}

/********** druga strona z kategoriami *********/

.second-card__title {
    letter-spacing: 1.1px;
    font-size: 40px;
    margin-bottom: 20px;
}

.second-card {
    transform: translateX(-100%);
    z-index: 1;
    opacity: 0;
}

.showSecond {
    opacity: 1;
}

.second {
    transform: translateY(25%);
}

.second-card__categories-btns {
    display: flex;
    justify-content: space-around;
}


.second-card__button {
    padding: 5px;
    font-size: 20px;
    font-family: 'Eater', cursive;
    border-radius: 5px;
}

.second-card__button:hover {
    background: black;
    color: white;
}

.showSecond {
    transform: translateX(0);
}

.hideSecond {
    transform: translateX(100%);
}


/***************** third card ****************/

.third-card {
    transform: translateX(-100%);
}

.third-card .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.third-guess {
    transform: translateY(-50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    width: 90%;
    margin: 0 auto;
}

.showThird {
    transform: translateX(0);
}

.correctLetters {
    color: white;
    display: flex;
    padding-top: 50px;
    margin: 0 auto;
}

.singleLetter {
    margin: 9px;
}

.list-alphabet {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}

.item-alphabet {
    border: 1px solid white;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    cursor: pointer;
}

.item-alphabet:hover {
    color: black;
    background: white;
}


